body{
    height: 100vh;
}
.accord{
    margin: 5% auto;
    list-style: none;
    /*border: 2px solid black;*/
    /*border-radius: 8px;*/
    padding: 0;
    width: 300px;
}

.accord__header{
    background-color: darkslategray;
    border: 2px solid black;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    font-size: 20px;
    color: fuchsia;
    text-align: center;
    border-radius: 8px;
}
span{
    color:chartreuse;
}
.accord__cont{
    display: none;
    background-color: 	rgb(255, 255, 153);
    text-align: center;
}


